@charset "utf-8";

.main-visual {
  position: relative;

  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
@media (min-width: 768px) {
  .main-visual {
    height: 80vh;
  } 
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.swiper-slide.slide1 {
  background-image: url(../img/img_mv1_smp.jpg);
}
.swiper-slide.slide2 {
  background-image: url(../img/img_mv2_smp.jpg);
}
.swiper-slide.slide3 {
  background-image: url(../img/img_mv3_smp.jpg);
}
@media (min-width: 768px) {
  .swiper-slide.slide1 {
    background-image: url(../img/img_mv1.jpg);
  }
  .swiper-slide.slide2 {
    background-image: url(../img/img_mv2.jpg);
  }
  .swiper-slide.slide3 {
    background-image: url(../img/img_mv3.jpg);
  }
}


.service-recommend {
}
@media (min-width: 768px) {
  .service-recommend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.service-recommend-item {
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.3;
  color: whitesmoke;
  background-color: rgb(32, 96, 173);
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .service-recommend-item {
    margin-top: 0rem;
    width: 32%;
  }
}

.service-recommend-item::before {
  content: "";
  display: block;
  margin: 0 auto 1rem;
  width: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-recommend-item._card::before {
  background-image: url(../img/img_banner_nenga2023.jpg);
}
.service-recommend-item._ud::before {
  background-image: url(../img/img_banner_UD.jpg);
}
.service-recommend-item._calendar::before {
  background-image: url(../img/img_banner_nameCalendar2023.jpg);
}

.useful-info {
}
@media (min-width: 768px) {
  .useful-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.useful-info-case {
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.3;
  border: 1px solid #D39E27;
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .useful-info-case {
    margin-top: 0rem;
    width: 23%;
  }
}

.useful-info-case::before {
  content: "";
  display: block;
  margin: 0 auto 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.useful-info-case._bleed::before {
  background-image: url(../img/ico_plan_master.svg);
}
.useful-info-case._pdf::before {
  background-image: url(../img/ico_plan_day.svg);
}
.useful-info-case._poster::before {
  background-image: url(../img/ico_plan_night.svg);
}
.useful-info-case._layout::before {
  background-image: url(../img/ico_plan_dropin.svg);
}

.ttl-level2.for-contact {
  margin-bottom: 0.5rem;
}

.inquiry {
  padding: 0 1rem;
  font-weight: 500;
  border: 0.7rem solid #f5e4c0;
  border-radius: .3rem;
}
@media (min-width: 768px) {
  .inquiry {
    display: flex;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
    padding: 1rem 3rem;
  }
}

.inquiry li {
  position: relative;
  line-height: 1;
  margin: 1.25rem 0;
  padding-left: 1.7rem;
}
@media (min-width: 768px) {
  .inquiry li {
    width: 50%;
    margin: 0.75rem 0;
    font-size: calc((18 / 15)*1rem);
  }
}

.inquiry li::before {
  position: absolute;
  top: -0.3rem;
  left: 0;
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #F2F2F2;
}

.inquiry li::after {
  position: absolute;
  top: -0.4rem;
  left: 0.6rem;
  content: "";
  display: block;
  width: 0.5rem;
  height: 1.5rem;
  border-right: 3px solid rgb(0, 174, 0);
  border-bottom: 5px solid rgb(0, 174, 0);
  transform: rotate(45deg);
}

.access {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .access {
    width: 70%;
    padding-bottom: 2rem;
  }
}
.access p {
  font-size: 1.2rem;
}

.access-map {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-bottom: 4rem;
}

iframe {
  width: 100%;
}