@charset "utf-8";

.slide {
  /* 相対的とすることで
  スライダー以降のコンテンツが
  上を通り過ぎるように見せる事ができる。 */
  position: relative;
  
  z-index: -100;
}
@media (min-width) {
  .slide {
  }
  
}

/* スライドショー背景の設定 */
.slide .mv-bg-image {
  position: fixed;
  /* 四をを0にすることで画をを全画面に引き伸ばしているイメージ。 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  opacity: 0;

  /* 3枚を5s毎で計15s */
  /* infiniteで繰り返す */
  animation: mv-bg-animation 15s infinite;
}

@media (min-width: 768px) {
  .slide .mv-bg-image {
  }
}



/* 50%を境にオンオを調整、表示タイミングをずらしてフェードイン風にする。 */
@keyframes mv-bg-animation {
  0% {opacity: 0;}
  5% {opacity: 1;}
  25% {opacity: 1;}
  30% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

/* 時間差で背景画像のアニメーションを開始 */
.slide .src-image01 {
  background-image: url(../img/img_mv1.jpg);
}
.slide .src-image02 {
  background-image: url(../img/img_mv2.jpg);
  animation-delay: 5s;
}
.slide .src-image03 {
  background-image: url(../img/img_mv3.jpg);
  animation-delay: 10s;
}

@media screen and (max-width: 768px) {
  .slide .src-image01 {
    background-image: url(../img/img_mv1_smp.jpg);
  }
  .slide .src-image02 {
    background-image: url(../img/img_mv2_smp.jpg);
    animation-delay: 5s;
  }
  .slide .src-image03 {
    background-image: url(../img/img_mv3_smp.jpg);
    animation-delay: 10s;
  }

  .parallax_content {
  }

  .parallax::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  .parallax_content.img_bg_01::before {
    background-image: url();
  }

  .parallax_content.img_bg_02::before {
    background-image: url();
  }

  .parallax_content.img_bg_03::before {
    background-image: url();
  }
}

@media (min-width: 768px) {
  .parallax_content {
    /* 下に固定されたbackgroundの写真の高さの調整をここでする。 */
    min-height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .parallax-front-container {
    padding: 60px;
    background-color: #fff;
  }
  
  .main-visual .ttl {
    margin-bottom: 2.5rem;
    font-size: 5rem;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    /* 200 or 300 or 400 or 500 or 600 or 700 or 900 */
  }
  .main-visual .ttl::first-letter {
    letter-spacing: 0.25em;
  }
  
  .main-visual .catch {
    font-size: 1.5rem;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
  }
  
  .main-visual .ttl,
  .main-visual .catch {
    text-shadow: 
        0px 1px 5.9px rgba(0, 0, 0, 0.175),
        0px 2.3px 14.3px rgba(0, 0, 0, 0.305),
        0px 4.4px 26.9px rgba(0, 0, 0, 0.353),
        0px 7.8px 48px rgba(0, 0, 0, 0.336),
        0px 14.6px 89.8px rgba(0, 0, 0, 0.331),
        0px 35px 215px rgba(0, 0, 0, 0.36);
  }
}


.operating-sites {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .operating-sites {
    flex-direction: row;
  }
}

.operating-sites-content {
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.3;
  color: #555;
  background-color: #eee;
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .operating-sites-content {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0;
  }
  .content-info {
    padding: 1rem;
    text-align: center;
  }
}

.useful-info {
}
@media (min-width: 768px) {
  .useful-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.useful-info-case {
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.3;
  border: 1px solid #D39E27;
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .useful-info-case {
    margin-top: 0rem;
    width: 23%;
  }
}

.useful-info-case::before {
  content: "";
  display: block;
  margin: 0 auto 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.useful-info-case._bleed::before {
  background-image: url(../img/ico_plan_master.svg);
}
.useful-info-case._pdf::before {
  background-image: url(../img/ico_plan_day.svg);
}
.useful-info-case._poster::before {
  background-image: url(../img/ico_plan_night.svg);
}
.useful-info-case._layout::before {
  background-image: url(../img/ico_plan_dropin.svg);
}

.ttl-level2.for-contact {
  margin-bottom: 0.5rem;
}

.inquiry {
  padding: 0 1rem;
  font-weight: 500;
  border: 0.7rem solid #f5e4c0;
  border-radius: .3rem;
}
@media (min-width: 768px) {
  .inquiry {
    display: flex;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
    padding: 1rem 3rem;
  }
}

.inquiry li {
  position: relative;
  line-height: 1;
  margin: 1.25rem 0;
  padding-left: 1.7rem;
}
@media (min-width: 768px) {
  .inquiry li {
    width: 50%;
    margin: 0.75rem 0;
    font-size: calc((18 / 15)*1rem);
  }
}

.inquiry li::before {
  position: absolute;
  top: -0.3rem;
  left: 0;
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #F2F2F2;
}

.inquiry li::after {
  position: absolute;
  top: -0.4rem;
  left: 0.6rem;
  content: "";
  display: block;
  width: 0.5rem;
  height: 1.5rem;
  border-right: 3px solid rgb(0, 174, 0);
  border-bottom: 5px solid rgb(0, 174, 0);
  transform: rotate(45deg);
}

.access {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .access {
    width: 70%;
    padding-bottom: 2rem;
  }
}
.access p {
  font-size: 1.2rem;
}

.access-map {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-bottom: 4rem;
}

iframe {
  width: 100%;
}