@charset "UTF-8";

/* orange rgb(240, 131, 0); */
/* brown rgb(145, 109, 65); */
/* blue rgb(32, 96, 173) */
html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  /* <= 100 or 300 or 400 or 500 or 700 or 900 */
  font-size: 15px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  width: 100%;
}
@media (min-width: 768px) {
  main {
    margin-top: 11.25rem;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.parallax-front-container .container {
  width: 70rem;

}

@media (min-width: 768px) {
  .main-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 10%;
    text-align: center;
    color: #eee;
    margin-top: 11.25rem;

    /* animation-name: fade-in-animation;
    animation-delay: 4s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0; */
  }
  /* .main-visual.fade-in-timming-1 {
    animation-delay: 9s;
  }
  .main-visual.fade-in-timming-2 {
    animation-delay: 14s;
  }
  @keyframes fade-in-animation {
    from { opacity: 0; }
    to { opacity: 1; }
  } */
}



@media (min-width: 768px) {
  .header .container {
    /* 1050px => 70文字分 */
    max-width: calc(70*1rem); 
    padding: 0 2rem;
  }
}

section {
  margin-top: 4rem;
}

.ttl-level2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.ttl {
  /* 線との間隔を付けるため */
  margin: 0 1rem;
  text-align: center;
  font-size: calc((24 / 15)*1rem);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.ttl2-catch {
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
  height: 1.2;
  overflow-wrap: break-word;
}

@media (min-width: 768px) {
  .ttl {
    font-size: calc((25 / 15)*1rem);
  }
}

.ttl-level2::before,
.ttl-level2::after {
  content: "";
  display: block;
  flex-grow: 1;
  border-top: 1px solid #D39E27;
  /* transform: translateY(0rem); */
}

.ttl [lang="en"] {
  display: block;
  font-size: calc((12 / 15)*1rem);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.ttl-halftone {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 0.75rem;
  padding: 0.75rem 0;
  font-size: calc((18 / 15)*1rem);
  font-weight: bold;
  text-align: center;
  background-color: #FCF7ED;
  border-radius: 0.3rem;
}

.ttl-halftone br {
  display: none;
}
@media (min-width: 768px) {
  .ttl-halftone br {
    display: inline;
  }
}

.ttl-loud {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.75rem 0;
  font-size: calc((18 / 15)*1rem);
  font-weight: bold;
  text-align: center;
}

.ttl-loud::before {
  content: "";
  height: 13.5rem;
  margin-right: 1.5rem;
  border: 2px solid rgb(240, 131, 0);
  transform: translateY(0.5rem) rotate(-15deg);
}
@media (min-width: 768px) {
  .ttl-loud::before {
    height: 5rem;
    margin-right: 0.5rem;
    transform: rotate(-25deg);
  }
  
}

.ttl-loud::after {
  content: "";
  height: 13.5rem;
  margin-left: 1.5rem;
  border: 2px solid rgb(240, 131, 0);
  transform: translateY(0.5rem) rotate(15deg);
}
@media (min-width: 768px) {
  .ttl-loud::after {
    height: 5rem;
    margin-right: 0.5rem;
    transform: rotate(25deg);
  }
}

.br-in-pc {
  display: none;
}
@media (min-width: 768px) {
  .br-in-smp  {
    display: none;
  }
  .br-in-pc {
    display: inline;
  }
}

._center {
  text-align: center;
}

._margin-left {
  margin-left: 1.5rem;
}

.move-site {
  display: block ;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(32, 96, 173);
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  color: rgb(240, 131, 0);
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
h3:not(:first-of-type) {
  margin-top: 2rem;
}

dt {
  margin-top: 0rem;
}
dt:not(:first-of-type) {
  margin-top: 0.75rem;
}
dd {
  padding-left: 1rem;
}

.copy {
  font-weight: 700;
}

.catch {
  font-size: 1.1rem;
}

.btn-center {
  max-width: 400px;
  margin: 2rem auto 3rem;

  text-align: center;
}

.btn-block {
  position: relative;
  display: block;
  padding: 0.75rem 0;
  font-size: calc((18 / 15)*1rem);
  font-weight: bold;
  /* borderにhoverした時に色を変える方法
  色をつけないとinheritになる。 */
  color: #555;
  border: 3px solid;
  border-radius: 0.5rem;
}

.btn-block::after {
  position: absolute;
  right: 1.5rem;
  top: 40%;
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-right: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
}

.tel-number {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(240, 131, 0);
}
.tel-number i {
  margin-right: 0.5rem;
  color: #555;
}

.contact .btn-center {
  margin: 1rem auto 2rem;
}




/********************** memo **********************/

/* PCの場合は、少し手間ですが２つのサイズで対応しておくと良いですね。
できれば、このあたりは、リキッドレイアウトでマックスワイドを設けて対応が綺麗かなと思います。
1100pxのコンテンツ幅のサイトを大きなスクリーンで見ると左右の余白が大きく、画面が勿体無いですし、少し昔っぽい感じがします。

ラップトップ
コンテンツ幅：1100px
ファーストビュー：700px
アートボードサイズ：1400pxくらい

デスクトップ
コンテンツ幅：1720px
ファーストビュー：850px
アートボードサイズ：1920pxくらい

タブレット コンテンツ幅：768px
ファーストビュー：800px
アートボードサイズ：768pxジャスト

モバイル コンテンツ幅：375px
ファーストビュー：800px
アートボードサイズ：375pxジャスト */